@font-face {
    font-family: "Nexa";
    src: url("fonts/Nexa-Regular.otf") format("otf");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Nexa";
    src: url("fonts/Nexa-Bold.ttf") format("ttf");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Nexa";
    src: url("fonts/Nexa-XBold.ttf") format("ttf");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gilroy";
    src: url("fonts/Gilroy-Bold.ttf") format("ttf");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Nexa;
    color: #25234d;
    button {
        border: none;
        transition: filter 0.2s;
        border-radius: 34px;

        cursor: pointer;
        &:focus {
            outline: none;
        }

        &:hover {
            filter: brightness(0.8);
        }

        &:disabled {
            filter: saturate(0.5);
            cursor: auto;
            &:hover {
                filter: saturate(0.5);
            }
        }
    }

    ul {
        list-style: none;
    }

    a {
        text-decoration: none;
    }

    h1 {
        font-size: 70px;
        font-weight: 800;
    }

    h2 {
        color: #6422db;
        font-size: 30px;
        font-weight: normal;
    }
}

.content {
    width: 1465px;
}

.btn-yellow {
    background: #ffc727;
    width: 270px;
    height: 68px;
    font-size: 18px;
    font-weight: 700;
    margin-top: 50px;
}

header {
    background: url("../assets/BG.jpg");
    height: 1010px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .header__top {
        display: flex;
        margin-top: 47px;
        justify-content: space-between;
        align-items: center;
        div {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 665.28px;
            h1 {
                font-family: Gilroy;
                font-size: 44.77px;
                letter-spacing: -2px;
                color: #fff;
            }

            ul {
                display: flex;
                justify-content: space-between;
                font-size: 19px;
                width: 409px;
                margin-top: 10px;
                user-select: none;

                #menu__burger {
                    display: none;
                    fill: #fff;
                    cursor: pointer;
                }

                li {
                    cursor: pointer;
                    color: #fff;
                    transition: background 0.2s;
                    border-radius: 20px;
                    padding: 5px 10px;

                    &:hover {
                        background: #5424bb;
                    }
                }
            }
        }
        button {
            width: 165px;
            height: 60px;
            color: #6426dd;
            font-size: 16.78px;
            font-weight: 800;
            text-transform: uppercase;
        }
    }

    .header__content {
        display: flex;
        align-items: center;
        margin-top: 55px;

        h1 {
            color: #fff;
            line-height: 60px;
            height: 160px;
        }
        p {
            color: #fff;
        }
        button {
            background: #00dadc;
            width: 270px;
            height: 68px;
            font-size: 18px;
            font-weight: 700;
            margin-top: 50px;
        }
    }
}

#about {
    background: url("../assets/About__content.png");
    height: 1010px;
    background-position: 100px 0;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;

    .about__top {
        div {
            margin-left: 774px;

            h1 {
                margin-top: 12px;
                margin-bottom: 20px;
            }

            p {
                width: 487px;
            }
        }
    }
}

#services {
    height: 1100px;
    background: url("../assets/services_bg.png");
    background-position: 0px -250px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    .services__content {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .text {
            p {
                font-weight: 400;
                font-size: 20px;
                width: 487px;
            }
        }

        .items {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: space-between;
            width: 650px;
            height: 820px;
            .item {
                background: #fff;
                width: 300px;
                height: 345px;
                box-shadow: #dfe3ea 0px 0px 10px 1px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 50px 40px;
                transition: transform 0.3s;
                &:first-child {
                    margin-top: 100px;
                }
                &:last-child {
                    margin-bottom: 100px;
                }

                &:hover {
                    transform: translateY(-20px);
                }
            }
        }
    }
}

#testimonials {
    height: 1100px;
    background-image: url("../assets/testimonials_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    position: relative;
    div {
        margin-top: 120px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        #oval {
            position: absolute;
            left: 0;
            top: 0;
            transform: translate(-50%, -50%);
        }
        h2 {
            color: #fff;
        }
        h1 {
            color: #fff;
        }
        .slider__wrapper {
            margin-top: 0;
            position: relative;
            .slider__main {
                position: relative;
                width: 730px;
                height: 433px;
                background: #fff;
                border-radius: 20px;
                z-index: 3;
                box-shadow: 0px 0px 40px 0px rgba(103, 48, 226, 0.5);
                display: flex;
                flex-direction: row;
                justify-content: center;
                overflow: hidden;
                svg {
                    position: absolute;
                    z-index: 1;
                    left: 50%;
                    top: 0;
                    transform: translateX(-50%);
                }

                .slider__box {
                    margin-top: 0;
                    display: flex;
                    flex-direction: row;
                    position: absolute;
                    transition: left 0.3s;
                    left: 0;
                    .slider__item {
                        margin-top: 0;
                        width: 730px;
                        height: 50%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        text-align: center;
                        p {
                            position: relative;
                            z-index: 2;
                            font-size: 22px;
                            font-weight: 700;
                            color: #6a697f;
                            width: 568px;
                        }
                        h2 {
                            color: #6427de;
                            font-size: 24px;
                            font-weight: 800;
                            margin-top: 20px;
                        }

                        .stars {
                            margin-top: 10px;
                            display: flex;
                            justify-content: space-between;
                            width: 150px;
                            height: 25px;
                            flex-direction: row;
                            svg {
                                fill: #ffcc00;
                                position: static;
                                width: 25px;
                                transform: translateX(0);
                            }
                        }
                    }
                }

                .arrows {
                    margin-top: 90px;
                    display: flex;
                    flex-direction: row;
                    width: 100px;
                    justify-content: space-between;
                    position: absolute;
                    z-index: 100;
                    left: 50%;
                    top: 65%;
                    transform: translateX(-50%);
                    svg {
                        fill: #6427de;
                        cursor: pointer;
                        position: static;
                        transform: translateX(0);
                        width: 30px;
                        &:last-child {
                            transform: rotate(180deg);
                        }
                    }
                }
            }
            .bg-mid {
                width: 690px;
                height: 433px;
                background: #9a76ec;
                position: absolute;
                border-radius: 20px;
                top: 25px;
                z-index: 2;
                box-shadow: 0px 0px 40px 0px rgba(103, 48, 226, 0.5);
            }
            .bg-back {
                width: 650px;
                height: 433px;
                border-radius: 20px;
                position: absolute;
                top: 50px;
                background: #6730e2;
                opacity: 0.5;
                box-shadow: 0px 0px 60px 0px rgba(103, 48, 226, 0.5);
            }
        }
    }
}

#contact {
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 900px;
    position: relative;
    .contact__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        #leftCircle {
            position: absolute;
            left: 0;
            top: 0;
            transform: translateX(-70%);
        }

        .text {
            height: 412px;
            h1 {
                margin-top: 12px;
                margin-bottom: 40px;
            }
            p {
                width: 500px;
                font-size: 20px;
            }
        }

        .contact-form {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            width: 600px;
            height: 750px;
            svg {
                position: absolute;
                z-index: 3;
                left: 100%;
                transform: translate(-20%, -35%);
                width: 200px;
            }

            form {
                position: relative;
                width: 100%;
                background: #fff;
                box-shadow: 0px 0px 40px 0px rgba(83, 110, 160, 0.5);
                border-radius: 20px;
                height: 725px;
                z-index: 2;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                padding: 60px 0 100px 0;

                .item {
                    position: relative;
                    label {
                        position: absolute;
                        left: 30px;
                        top: 50%;
                        transform: translateY(-50%);
                        cursor: text;
                        background: #fff;
                        padding: 0 10px;
                        color: rgba($color: #6a697f, $alpha: 0.5);
                        font-size: 19px;
                        transition: top 0.2s;
                        &#message__label {
                            top: 35px;
                        }
                    }
                    input {
                        width: 475px;
                        height: 78px;
                        font-size: 20px;
                        font-weight: 800;
                        color: #6422db;
                        padding-left: 30px;
                        border-radius: 5px;
                        border: 2px rgba($color: #6a697f, $alpha: 0.2) solid;

                        &:focus {
                            outline: none;
                        }
                    }
                    textarea {
                        resize: none;
                        width: 475px;
                        height: 200px;
                        padding-left: 30px;
                        border-radius: 5px;
                        font-size: 20px;
                        font-weight: 800;
                        color: #6422db;
                        border: 2px rgba($color: #6a697f, $alpha: 0.2) solid;
                        padding-top: 25px;

                        &:focus {
                            outline: none;
                        }
                    }
                }

                #error {
                    opacity: 0;
                    transition: opacity 0.2s;
                }
            }
            .bg-back {
                width: 95%;
                height: 725px;
                position: absolute;
                top: 25px;
                background: rgb(224, 224, 224);
                box-shadow: 0px 0px 50px 0px rgba(83, 110, 160, 0.5);
                border-radius: 20px;
                z-index: 1;
            }
        }
    }
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 393px;
    background-image: url("../assets/footer_bg.png");
    .footer__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        .logo {
            color: #fff;
            font-size: 45px;
        }
        ul {
            display: flex;
            justify-content: space-between;
            width: 553px;
            user-select: none;
            li {
                color: #fff;
                cursor: pointer;
            }
        }

        .icons {
            width: 200px;
            display: flex;
            justify-content: space-between;
            svg {
                opacity: 0.5;
                transition: opacity 0.2s, transform 0.1s;
                &:hover {
                    opacity: 1;
                    transform: translateY(-5px);
                }
            }
        }
        #copyright {
            position: absolute;
            left: 50%;
            top: 200%;
            transform: translateX(-50%);
            color: #fff;
        }
    }
}

@media (min-width: 320px) and (max-width: 1659px) {
    .content {
        width: 300px;
    }

    h1 {
        font-size: 60px;
    }

    #section {
        width: 320px;
    }

    header {
        background-size: cover;
        height: 860px;
        .header__top {
            div {
                ul {
                    width: 50px;
                    #menu__burger {
                        display: block;
                    }
                    li {
                        display: none;
                    }
                }
            }

            button {
                display: none;
            }
        }

        .header__content {
            .text {
                text-align: center;
                h1 {
                    height: 100%;
                    margin-bottom: 50px;
                }
            }
            img {
                display: none;
            }
        }
    }

    #about {
        background: none;
        height: 860px;
        .about__top {
            text-align: center;
            div {
                margin-left: 0;
                p {
                    width: 300px;
                }
            }
        }
    }

    #services {
        background: none;
        height: 2500px;
        .services__content {
            flex-direction: column;
            align-items: center;
            .text {
                text-align: center;
                margin-bottom: 50px;
                p {
                    width: 300px;
                }
            }
            .items {
                width: 300px;
                height: 1500px;
                flex-wrap: nowrap;
                align-items: center;
                margin-bottom: 200px;

                .item {
                    width: 280px;
                    &:hover {
                        transform: translateY(0);
                    }

                    &:first-child {
                        margin-top: 0;
                    }
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }

    #testimonials {
        background-image: url("../assets/BG.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 1300px;

        div {
            margin-top: 90px;
            .slider__wrapper {
                svg {
                    width: 100px;
                    height: 60px;
                }
                .slider__main {
                    width: 300px;
                    height: 300px;

                    .slider__box {
                        .slider__item {
                            width: 300px;
                            height: 140px;
                            p {
                                font-size: 14px;
                                width: 280px;
                            }

                            h2 {
                                font-size: 16px;
                                margin-top: 10px;
                            }

                            .stars {
                                width: 80px;
                                margin-top: 5px;
                                svg {
                                    width: 15px;
                                }
                            }
                        }
                    }

                    .arrows {
                        margin-top: 20px;
                        svg {
                            width: 20px;
                        }
                    }
                }

                .bg-mid {
                    width: 270px;
                    height: 300px;
                    top: 15px;
                }

                .bg-back {
                    width: 250px;
                    height: 300px;
                    top: 30px;
                }
            }
        }
    }

    #contact {
        height: 1200px;
        .contact__content {
            flex-direction: column;
            .text {
                text-align: center;
                height: 600px;
                h1 {
                    font-size: 40px;
                }
                p {
                    width: 300px;
                }
            }

            .contact-form {
                width: 300px;
                height: 600px;
                svg {
                    display: none;
                }

                form {
                    padding: 40px 0 40px 0;
                    .item {
                        input {
                            width: 280px;
                            height: 50px;
                        }
                        textarea {
                            width: 280px;
                            height: 100px;
                        }
                    }
                    button {
                        margin-top: 50px;
                    }
                }

                .bg-back {
                    width: 85%;
                    height: 600px;
                }
            }
        }
    }

    footer {
        background: #7055f4;
        margin-top: 150px;
        .footer__content {
            flex-direction: column;
            ul {
                flex-direction: column;
                align-items: center;
                width: 300px;
                height: 120px;
                margin: 10px 0 30px 0;
            }

            #copyright {
                text-align: center;
                top: 105%;
                width: 300px;
            }
        }
    }
}

@media (min-width: 480px) and (max-width: 1659px) {
    .content {
        width: 460px;
    }

    #about {
        align-items: start;
        height: 650px;
        .about__top {
            div {
                p {
                    width: 460px;
                }
            }
        }
    }

    #services {
        height: 2300px;
        .services__content {
            .text {
                p {
                    width: 460px;
                }
            }
            .items {
                height: 1500px;
                .item {
                    width: 350px;
                }
            }
        }
    }

    #testimonials {
        height: 1000px;
        div {
            .slider__wrapper {
                .slider__main {
                    width: 440px;
                    .slider__box {
                        .slider__item {
                            width: 440px;
                            p {
                                font-size: 16px;
                                width: 350px;
                            }
                            h2 {
                                font-size: 18px;
                            }
                        }
                    }
                }

                .bg-mid {
                    width: 400px;
                }
                .bg-back {
                    width: 380px;
                }
            }
        }
    }

    #contact {
        .contact__content {
            .text {
                height: 400px;
                p {
                    width: 460px;
                }
            }
            .contact-form {
                form {
                    width: 440px;
                    .item {
                        input {
                            width: 420px;
                        }
                        textarea {
                            width: 420px;
                            height: 200px;
                        }
                    }
                }
                .bg-back {
                    width: 400px;
                }
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 1659px) {
    .content {
        width: 748px;
    }

    header {
        .header__top {
            div {
                ul {
                    width: 409px;
                    #menu__burger {
                        display: none;
                    }
                    li {
                        display: block;
                    }
                }
            }
            button {
                display: block;
                width: 140px;
                height: 50px;
            }
        }

        .header__content {
            justify-content: center;
            .text {
                p {
                    width: 400px;
                }
            }
        }
    }

    #about {
        .about__top {
            div {
                p {
                    width: 748px;
                }
            }
        }
    }

    #services {
        .services__content {
            .text {
                p {
                    width: 748px;
                }
            }
        }
    }

    #testimonials {
        div {
            .slider__wrapper {
                .slider__main {
                    width: 728px;
                    height: 400px;
                    .slider__box {
                        .slider__item {
                            width: 728px;
                            p {
                                font-size: 20px;
                                width: 500px;
                            }

                            h2 {
                                font-size: 22px;
                            }
                            .stars {
                                width: 110px;
                                svg {
                                    width: 20px;
                                }
                            }
                        }
                    }

                    .arrows {
                        margin-top: 50px;
                        svg {
                            width: 30px;
                        }
                    }
                }

                .bg-mid {
                    width: 708px;
                    height: 400px;
                }
                .bg-back {
                    width: 688px;
                    height: 400px;
                }
            }
        }
    }

    #contact {
        align-items: start;
        .contact__content {
            .contact-form {
                form {
                    width: 728px;
                    .item {
                        input {
                            width: 708px;
                        }
                        textarea {
                            width: 708px;
                        }
                    }
                }
                .bg-back {
                    width: 708px;
                }
            }
        }
    }
    footer {
        margin-top: 0;
        height: 350px;
        background-image: url("../assets/footer_bg.png");
        background-size: cover;
        background-color: #fff;
        .footer__content {
            flex-direction: row;
            ul {
                flex-direction: row;
                height: 20px;
                margin-top: 0;
                margin-bottom: 0;
            }

            #copyright {
                top: 200%;
            }
        }
    }
}

@media (min-width: 1024px) and (max-width: 1659px) {
    .content {
        width: 1004px;
    }

    header {
        .header__content {
            flex-direction: row;
            .text {
                text-align: left;
            }
            img {
                display: block;
                width: 500px;
            }
        }
    }

    #about {
        background-image: url("../assets/About__content.png");
        background-size: cover;
        height: 745px;
        .about__top {
            div {
                text-align: left;
                margin-left: 500px;
                p {
                    width: 400px;
                }
            }
        }
    }

    #services {
        height: 1400px;
        .services__content {
            .text {
                p {
                    width: 1004px;
                }
            }
            .items {
                flex-wrap: wrap;
                flex-direction: column;
                justify-content: space-between;
                width: 650px;
                height: 820px;
                margin-bottom: 50px;
                .item {
                    width: 300px;
                    height: 345px;
                    transition: transform 0.3s;
                    &:first-child {
                        margin-top: 100px;
                    }
                    &:last-child {
                        margin-bottom: 100px;
                    }
    
                    &:hover {
                        transform: translateY(-20px);
                    }
                }
            }
        }
    }
}